# (1) do not quote values
# (2) values can't have spaces
# (3) save file as 'secrets.env'


#---------------------------------------------------------------------
# DEFAULT - local devops / demo setup
#---------------------------------------------------------------------

# node running mode
NODE_ENV=development

# database config (local MongoDB)
MONGO_DB_URL=mongodb://mongo:27017/quantum
MONGO_DB_USR=
MONGO_DB_PWD=

# authentication (email stored in MongoDB / admin account)
AUTH_PROVIDER=Mongo
AUTH_CLIENT_ID=sys.admin@localhost
AUTH_CLIENT_SECRET=2infinity
AUTH_TENANT_ID=
AUTH_CALLBACK_URL=

#---------------------------------------------------------------------
# EXAMPLE - production setup with SSO
#---------------------------------------------------------------------
#
# node running mode
# NODE_ENV=production
#
# Database credentials
# MONGO_DB_URL=mongodb+srv://exampleDB.123456.mongodb.net/example
# MONGO_DB_USR=mongo_usr
# MONGO_DB_PWD=super_secret_password
#
# User authentication via Microsoft (Azure AD)
# AUTH_PROVIDER=Microsoft
# AUTH_TENANT_ID=
# AUTH_CALLBACK_URL=https://test.example.test/
# AUTH_CLIENT_ID=
# AUTH_CLIENT_SECRET=
#