# (1) do not quote values
# (2) values can't have spaces
# (3) save file as 'secrets.env'

# node running mode
NODE_ENV=development

# Database credentials
MONGO_DB_URL=mongodb+srv://quantum-db.6423l2.mongodb.net/quantum
MONGO_DB_USR=mongo_usr
MONGO_DB_PWD=super_secret_password

# User authentication via Microsoft (Azure AD)
AUTH_PROVIDER=Microsoft
AUTH_TENANT_ID=fa793b40-4a24-457c-856f-174587a88c26
AUTH_CALLBACK_URL=https://flight.quantum.space/quantum/redirect
AUTH_CLIENT_ID=afdb7x9a-9973-4a85-86e7-00cdb9e5f3af
AUTH_CLIENT_SECRET=eA58Q~n4SxJtJV~G9Op98452yvJVr_y5fl1ggUcZ7

# For minimal Local dev setup, copy this setup into your secrets.env
NODE_ENV=development
MONGO_DB_URL=mongodb://mongo:27017/quantum
MONGO_DB_USR=
MONGO_DB_PWD=
AUTH_PROVIDER=Mongo
AUTH_CLIENT_ID=sys.admin@localhost
AUTH_CLIENT_SECRET=2infinity
AUTH_TENANT_ID=
AUTH_CALLBACK_URL=