<div class="dashboard-layout">
    <main class="main-content">
        <div class="instances-container">
            <table class="instances-table">
                <thead>
                    <tr>
                        <th class="col-instance">INSTANCE <span class="fa fa-caret-down sort-icon"></span></th>
                        <th class="col-version">VERSION</th>
                        <th class="col-opened">OPENED BY</th>
                        <th class="col-started">STARTED</th>
                        <th class="col-view">VIEW</th>
                    </tr>
                </thead>
                <tbody>
                    @for (instance of instances(); track instance.revision) {
                    <tr>
                        <td class="col-instance">{{ instance.revision }}</td>
                        <td class="col-version">{{ instance.version }}</td>
                        <td class="col-opened">{{ instance.openedBy }}</td>
                        <td class="col-started">{{ instance.startedAt }}</td>
                        <td class="col-view">
                            <a [routerLink]="[
                    '/dashboard/procedure/runninginstance',
                    procedureId(),
                    instance.version,
                    instance.revision,
                  ]" class="view-link" aria-label="View running instance">
                                <span class="fa fa-chevron-right view-icon"></span>
                            </a>
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="5" class="empty-state">No active procedure instances available.</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>